/escBaileDerby/EscBaileWeb/EscBaileWeb/dist/
/escBaileDerby/EscBaileWeb/EscBaileWeb/build/
/escBaileDerby/EscBaileWeb/EscBaileWeb/nbproject/private/
/escBaileDerby/PoblarBD_DB/nbproject/private/
/escBaileDerby/PoblarBD_DB/build/
/escBaileDerby/PoblarBD_DB/dist/